
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
 
</p>
	<%= image_tag('indrajit.jpg',:size=>'100x100',:alt =>'ijg') %>
	<p> I Lt Col Indrajit Gupta am deeply involved in this tutorial!</p>